@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Bebas Neue", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    background-color: rgba(241, 241, 241, 0.4);
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.calculator-container{
    box-shadow: 10px 5px 5px rgb(148, 144, 144);
    border:1px solid green;
    width:min(300px,50%);
    height:80%;
    display:flex;
    flex-direction: column;
    border:rgb(221, 134, 217) 10px solid;
    border-top: 100px solid rgb(172, 134, 221) ;
}

.screen{
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
    width: 100%;
    height:20%;
    background-color: rgb(139, 173, 136);
    border:1px solid rgb(150, 131, 131);

}

.btns{
    display:flex;
    width:100%;
    height:80%;
}

.button-digit{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:70%;
    height:100%;
}

.button-digit button{
    
    flex-grow: 1;
    width:30%;
    height:25%;
}
.digit{
    display:flex;
    flex-wrap: wrap;
    height:80%;
    width:100%;
}
.digit button{
    height:25%;
    width:33%;
}
.upper-maths{
    display:flex;
    height:20%;

}
.upper-maths button{
    height:100%;
    background-color: rgba(255,200,0,0.6);
}

.btns-arithmetic{
    display:flex;
    flex-direction:column;
    width:30%;
    height:100%;
}

.btns-arithmetic button{
    width: 100%;
    height:20%;
    background-color: rgba(255,200,0,0.6);
}
.usless {
    display:none;
}


button:hover{
    background-color: rgb(178, 247, 74);
}
button{
    border:1px solid rgb(150, 131, 131);
    background-color: rgb(109, 116, 102);
    
}

.green{
    background-color: rgb(27, 46, 27);
}

#equal{
    background-color:  rgb(81, 141, 81);
}
#equal:hover{
    background-color: rgb(178, 247, 74);
}
